<div class="modal fade" id="showView">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">

        <div class="modal-header">
          <h3 class="modal-title mr-3 pl-3">{{ first_point.title }}</h3>
          <h2><span class="badge badge-secondary">{{ first_point.year }}</span></h2>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
       
        <div class="modal-body">
          <img class="main-img img-fluid rounded mx-auto d-block" src="{{ photo_src }}">
        </div>
       
        <div class="modal-footer">
          <div class="desrp w-100 p-3">{{ first_point.description }}</div>
        </div>
        
      </div>
    </div>
</div>