{% extends '@App/Admin/layout.html.twig' %}

{% block content %}
<h1>Тестовый проект "старый нижний" v 1.0</h1>
<h3>Общее описание:</h3>
<p>Проект представляет собой карту yandex maps api v2.0</p>
<p>на который выводятся маркеры в виде иконки камеры, при клике на которую выводится фото с прошлыми видами нашего города</p>
<p>Вместе с фотографией выводится - заголовок, описание и предполагаемый год съемки</p>
<p>Для удобства поиска есть форма для фильрации по тегам, в верхней части страницы и двухпозиционый ползунок для фильтрации маркеторв в интервале лет - чуть ниже карты</p>
<p>Предусмотрена пользовательская админка для загрузки пользователями маркеров с фотографиями</p>
<p>Также есть главная админка для управления всеми маркерами и пользователями</p>

<h3>Backend:</h3>
<p>Cерверная часть проета сделана на php фреймворке symfony 3.4 - framework-standard-edition</p>
<p>Дополнительно установлены следующие бандлы (модули):</p>
<ul>
	<li>VichUploaderBundle - (работа с файлами)</li>
	<li>KnpPaginatorBundle - (пагинация)</li>
</ul>
<strong>Особенности настроек почти стандартные:</strong>
<p>Doctrine ORM, роутинг в конфигах yml, Doctrine annotations.</p>

<strong>Основной функционал:</strong>
<ul>
	<li>Авторизация пользователя через форму</li>
	<li>Регистрация пользователя</li>
	<li>Арифметическая капча на ключевых формах</li>
	<li>Восстановление забытого пароля через email</li>
	<li>3 типа роли (USER, ADMIN, ANONIM)</li>
	<li>Личный кабинет для пользователей - с возможностью смены своего пароля, загрузки собственных маркеров и просмотра своего загруженного контента</li>
	<li>Кабинет администатора - просмотр и редактирование всех маркеров включая скрытые. Просмотр удаление и блокирование всех пользователей. Очистка кеша.</li>
	<li>Отправка email администратору ссылку для последуующей модерации данных маркера</li>
</ul>

<h3>FrontEnd:</h3>
<strong>Библиотеки:</strong>
<ul>
	<li>jquery-1.12.0</li>
	<li>jquery-ui-1.12.1</li>
	<li>bootstrap-4.3.1</li>
	<li>font-awesome-4.7.0</li>
	<li>poper</li>
	<li>bootstrap-confirmation</li>
	<li>bootstrap-tagsinput</li>
</ul>

<strong>Функционал yandex map:</strong>
<p>Маркеры подгружаются через json и добаляются в objectManager(Что как-бы подразумевает стабильную работу при over 50 000 объектов, но это не точно)</p>
<p>Формированием исходного json файла занимается backend создавая его из 3-х таблиц</p>
<p>На карте дополнително настроено:</p>
<ul>
	<li>Кластеризация маркеров</li>
	<li>Кастомные иконки маркеров</li>
	<li>Кастомные иконки кластеров</li>
	<li>Поворот иконки в зависимости от настройки rotation в properties объекта</li>
	<li>Первоначальная загрузка первого маркера при старте страницы</li>
	<li>Вывод popup с увеличенной фотографией при клике на правый блок</li>
	<li>Автомасштабирование карты по геометрии всех маркеров</li>
	<li>Выделение другим цветом выбранного маркера и центрирование на него при клике</li>
	<li>Фильтрация маркеров по тегам через autocomplete в поле поиска.</li>
	<li>Каждый маркер может иметь несколько тегов и фильтровать их можно по любому из вхождений</li>
	<li>Фильтр маркеров по году фотографии в виде двухпозиционного ползунка</li>
</ul>

{% endblock %}