<!-- The Modal -->
<div class="modal fade" id="showView">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">

        <div class="modal-header">
          <h3 class="modal-title mr-3 pl-3">пл. Свободы</h3>
          <h2><span class="badge badge-secondary">1810 год</span></h2>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
       
        <div class="modal-body">
          <img class="main-img img-fluid rounded mx-auto d-block" src="images/photo/jzvmny2t0c7oz45uct.jpg">
        </div>
       
        <div class="modal-footer">
          <div class="desrp w-100 p-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer tellus lacus, dictum eget libero fringilla, ornare volutpat neque volutpat.</div>
        </div>
        
      </div>
    </div>
</div>