{% extends '@App/Email/base.html.twig' %}

{% block content %}
<p>Здравствуйте, {{ user_name }}!</p> 

<p>Вот ваш временный пароль - {{ pass }}</p>

<p><a href="/">Перейти на сайт Старый Нижний ></a></p>
{% endblock %}
