{% extends '@Order/Email/base.html.twig' %}

{% block content %}
    <a href="http://atelier-caviar.ru">
        <img src="http://atelier-caviar.ru/images/logo-min.png" width="200">
    </a>
    
    <p>Здравствуйте, {{ username }}!</p> 

    <p>Эскиз телефона, на основе которого Вам будет предложен персональный дизайн, во вложении</p>       
        
        {% if options|length > 0 %}
            <p>
                Выбранные вами опции:<br/>
            </p>
            <ul>
                {% for key, value in options %}
                    <li>{{ value|raw }}</li>
                {% endfor %}
            </ul>

        {% endif %}
        <hr>       
        <p>В ближайшее время с Вами свяжется менеджер Ателье, для уточнения стоимости и всех деталей заказа.</p>
    
    <p><a href="http://atelier-caviar.ru">Перейти на сайт Ателье Caviar >></a></p>
    
{% endblock %}

{% block notes %}
    <p style="font-size: 12px;">*Обращаем Ваше внимание, что "Примерная стоимость" в данном письме носит исключительно информационный характер и ни при каких условиях не является публичной офертой, определяемой положением Статьи 437 (2) Гражданского кодекса Российской Федерации. Для получения подробной информации, пожалуйста, обращайтесь к менеджерам по продажам, по тел. 8 (800) 333-48-35</p>
{% endblock %}