{% extends '@App/Front/layout.html.twig' %}

{% block ymaps_scripts %}
  <script src="https://api-maps.yandex.ru/2.1/?apikey=325a137d-6a6c-441d-baef-0d2b5fa16bfe&lang=ru_RU" type="text/javascript"></script>
{% endblock %}

{% block body %}
    <div class="container mt-3">
      <h1 class="text-center mb-3">Старый Нижний</h1>
      	<div class="row">      		
      		<div id="photo-block" class="col">
      			<div class="photo-block">
      				<div class="pb-header mb-2">
      				 	<h4 class="modal-title mr-1 pb-title">пл. Свободы</h4>
          				<h2><span class="badge badge-secondary">1810 год</span></h2>
      				</div>
      				<div class="pb-body">
      				 	<img class="pb-img img-fluid rounded mx-auto d-block" src="/images/photo/jzvmny2t0c7oz45uct.jpg">
      				</div>
      				<div class="pb-footer">
          				<div class="pb-desrp w-100 pt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer tellus lacus, dictum eget libero fringilla, ornare volutpat neque volutpat.</div>       
        			</div>
      				
      			</div>            
      		</div>
      		<div class="col">
      			<div id="map"></div>
            <div class="slider-block">
            	<p>
              	<label for="amount">Шкала времени: </label>
              	<input type="text" id="amount" readonly style="border:0; font-weight:bold;">
            	</p>
            	<div id="slider-range"></div>
            </div>
      		</div>
  		</div>
      
      {% include '@App/Front/HomePage/blocks/modal.html.twig' %}

    </div>
    
{% endblock %}

{% block setting_map_script %}
  <script src="{{ asset('js/main-2.js') }}" type="text/javascript"></script>
{% endblock %}